@charset "utf-8";
/* CSS Document */

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
header, nav, footer{
	width: 980px;
	margin:0 auto;
}
header {
	width: 980px;
	height: 120px;
	background-image: url( ../Imagenes/2-header-analogo.jpg);
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border-width: thin;
}
.header{
	font-family: Mukta;
	font-size: 18px;
}
ul, ol{list-style: none;}

.navbar li a{
	background-color: #3B4394;
	color:white;
	text-decoration: none;
	padding: 10px 79px;
	display:block;
}
.navbar li a:hover{
	background-color: #E51373;
}
.navbar li a.active{
	background-color:#E51373;
}
.subnav li a{
	background: #E51373;
}
.subnav li a:hover{
	background-color: #6C358B;
}
.navbar > li{
	float:left;
}
.navbar li ul{
	display:none;
	position:absolute;
	min-width: 200px;
}
.navbar li:hover>ul{
	display: block;
}
body {
	background-color: #221C38;
}
main {
	width: 980px;
	height: 986px;
	background-image: url(../Imagenes/analogo-fondo.jpg);
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0 auto;
}
#contItemC{
	height: 400px;
	width: 580px;
	;
	overflow: hidden;
	margin-top: 66px;
	margin-left: 219px;
}
.itemcarrusel{
	background-color: #221C38;
	height: 100%;
	position: relative;
}
.tarjetacarrusel{
	height: 100%;
}
a{
	text-decoration: none;
}
i{
	color: white;
}
#contpunto{
	width: 480px;
	display: flex;
	justify-content: space-around;
	margin-left: 263px;
}
#contpunto > a {
	font-size: 35px;
	color: cyan;
}

#contpunto a:hover{
	color: #3B4394;
}
.img1{
	width: 100%;
	margin-top: 22px;
}
footer {
	width: 980px;
	height: auto;
	background-color: #3B4394;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
nav {
	width: 980px;
	height: 55px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
footer h2 {
	color: #FFFFFF;
	font-family: "KG Always A Good Time";
	font-weight: lighter;
	font-size: 18px;
}
footer li {
	font-family: Mukta;
	font-size: 8pt;
	color: #FFFFFF;
}
@media (max-width:375px){
	*{margin: 0;
	padding: 0;
	box-sizing: border-box;}
	main{
		background-color: #221C38;
		background-image: none;
	}
	body{
		background-color: #221C38;
	}
	header{
	width: 375px;
	height: 150px;
	background-image: url(../Imagenes/header-movil.png);
	}
	nav, main, footer{
		width: 375px;
		padding: 10px;
	}
	nav{
		height:100px;
	}
	main{height: auto;}
	.contenedor {
	flex-direction: column;
}
	.contenedor>div{
	width: 100%;
	}
	footer{
		padding: 15px;
	}
	.cont1{
		flex-direction: column;
		background-color: #3B4394;
	}
	.h_1{
		padding: 30px;
		padding-left: 165px;
		background-color: #3B4394;
	}
	.h_3{
		padding: 56px;
		background-color: #E51373;
	}
	.par1{
		
	}
	#contItemC{
	width: 100%;
	margin-left: -5px;
	}
	#contpunto{
	width: 100%;
	margin-left: -5px;
	}
}
